<div class="backgroundPage">


  <div class="container">

    <span class="spanMoreBigThan">Estratégias</span>

    <div class="withChannel">
      <span class="spanBig">Estratégia - Channel</span>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Indicador</th>
            <th scope="col">Período</th>
            <th scope="col">Método</th>
            <th scope="col">Aplica a</th>
            <th scope="col">Níveis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SMA</td>
            <td>10</td>
            <td>Simple</td>
            <td>Low</td>
            <td>NA</td>
          </tr>
          <tr>
            <td>SMA</td>
            <td>10</td>
            <td>Simple</td>
            <td>High</td>
            <td>NA</td>
          </tr>
          <tr>
            <td>EMA</td>
            <td>10</td>
            <td>Exponencial</td>
            <td>Close</td>
            <td>NA</td>
          </tr>
          <tr>
            <td>Hilo Activator</td>
            <td>5</td>
            <td>Smoothed</td>
            <td>NA</td>
            <td>NA</td>
          </tr>
          <tr>
            <td>RSI</td>
            <td>3</td>
            <td>Exponencial</td>
            <td>Close</td>
            <td>10, 90, 50</td>
          </tr>
          <tr>
            <td>Volatility Index Indicator 1.3</td>
            <td>21</td>
            <td>NA</td>
            <td>NA</td>
            <td>30</td>
          </tr>
          <tr>
            <td>PZ_InsideBars 4.2</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
          </tr>
        </tbody>
      </table>

      <div class="imgChartDiv">
        <img class="imgChart" src="../assets/images/withChannel.jpg" alt="Image chart strategie with channel">
      </div>

    </div>

    <div class="withoutChannel">
      <span class="spanBig">Estratégia - Médias</span>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Indicador</th>
            <th scope="col">Período</th>
            <th scope="col">Método</th>
            <th scope="col">Aplica a</th>
            <th scope="col">Níveis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SMA</td>
            <td>21</td>
            <td>Simple</td>
            <td>Close</td>
            <td>NA</td>
          </tr>
          <tr>
            <td>EMA</td>
            <td>21</td>
            <td>Exponencial</td>
            <td>Close</td>
            <td>NA</td>
          </tr>
          <tr>
            <td>Hilo Activator</td>
            <td>9</td>
            <td>Smoothed</td>
            <td>NA</td>
            <td>NA</td>
          </tr>
          <tr>
            <td>RSI</td>
            <td>3</td>
            <td>Exponencial</td>
            <td>Close</td>
            <td>10, 90, 50</td>
          </tr>
          <tr>
            <td>Volatility Index Indicator 1.3</td>
            <td>21</td>
            <td>NA</td>
            <td>NA</td>
            <td>30</td>
          </tr>
          <tr>
            <td>PZ_InsideBars 4.2</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
          </tr>
        </tbody>
      </table>

      <div class="imgChartDiv">
        <img class="imgChart" src="../assets/images/withoutChannel.jpg" alt="Image chart strategie with channel">
      </div>

    </div>

  </div>

</div>